body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin: 0;
    background: linear-gradient(to left  , #0b9fe8 , rgb(16, 241, 16));
}
.container{
    text-align: center;
    max-width: 450px;
    margin-top: 25%;
    padding: 20px;
    background: linear-gradient(45deg , #0b9fe8 , rgb(16 , 241 ,16));
    border-radius: 10px;
}
select , input{
    width: 95%;
    padding: 10px;
    margin: 10px 0 ;
    border-radius: 5px;
    border: none;
}
button{
    background-color: rgb(5, 5, 5);
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 5px;
    width: 100%;
    padding: 10px;

}
button:hover{
    background-color: rgb(32, 235, 160);
}